@charset "UTF-8";
@import url("../css/fonts.css");
@import url("../css/reset.css");
#wrapper {
  width: 100%;
  overflow: hidden;
}
#wrapper #header {
  width: 100%;
  height: 86px;
  background: #93e4cf;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#wrapper #header .container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
#wrapper #header .container .gap {
  width: auto;
  margin: 0 15px;
  height: 100%;
  display: flex;
  position: relative;
}
#wrapper #header .container .gap .left {
  width: 435.5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media all and (max-width: 950px) {
  #wrapper #header .container .gap .left {
    display: none;
  }
}
#wrapper #header .container .gap .left span {
  padding: 0 20px 0 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#wrapper #header .container .gap .left span a {
  color: #2e443f;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 5%;
  transition: all 0.3s;
}
@media all and (max-width: 1170px) {
  #wrapper #header .container .gap .left span a {
    font-size: 12px;
  }
}
#wrapper #header .container .gap .center {
  width: 269px;
  height: 100%;
  margin: 0 auto;
}
@media all and (max-width: 950px) {
  #wrapper #header .container .gap .center {
    display: none;
  }
}
#wrapper #header .container .gap .center a img {
  width: 269px;
}
#wrapper #header .container .gap .right {
  width: 435.5px;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media all and (max-width: 950px) {
  #wrapper #header .container .gap .right {
    display: none;
  }
}
#wrapper #header .container .gap .right span {
  padding: 0 0 0 20px;
  display: flex;
  width: 100%;
}
#wrapper #header .container .gap .right span a {
  color: #2e443f;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5% 0 0;
  transition: all 0.3s;
}
@media all and (max-width: 1170px) {
  #wrapper #header .container .gap .right span a {
    font-size: 12px;
  }
}
#wrapper #header .container .gap .mobile {
  display: none;
}
@media all and (max-width: 950px) {
  #wrapper #header .container .gap .mobile {
    display: block;
  }
}
#wrapper #header .container .gap .mobile.logo {
  width: 269px;
  height: 86px;
}
#wrapper #header .container .gap .mobile.logo a img {
  height: 86px;
}
#wrapper #header .container .gap .mobile.bar {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
  width: 22px;
  height: 14px;
}
#wrapper #header .container .gap .mobile.bar a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
#wrapper #header .container .gap .mobile.bar a i {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #333;
}
#wrapper #header .container .gap .mobile.bar a i:nth-child(1) {
  top: 0;
  left: 0;
}
#wrapper #header .container .gap .mobile.bar a i:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
#wrapper #header .container .gap .mobile.bar a i:nth-child(3) {
  bottom: 0;
  background-color: #333;
}
#wrapper #header .container .gap .mobile-menu {
  position: fixed;
  top: 86px;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  display: none;
}
#wrapper #header .container .gap .mobile-menu ul {
  width: 100%;
  padding: 20px 0;
}
#wrapper #header .container .gap .mobile-menu ul li {
  width: 100%;
  padding: 10px 20px;
}
#wrapper #header .container .gap .mobile-menu ul li a {
  line-height: 20px;
  color: #fff;
  font-weight: 500;
}
#wrapper #header .container .gap .mobile-menu ul li a:focus {
  color: #c00;
}
#wrapper #header .container .gap .mobile-menu ul li a:hover {
  color: #c00;
}
#wrapper #main {
  position: relative;
  z-index: 2;
  width: 100%;
}
#wrapper #main #section1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#wrapper #main #section1 .slide-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
#wrapper #main #section1 .slide-container::before {
  content: "가상요소 &::before";
  display: block;
  width: 100%;
  height: 100%;
  background: #252525;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0.7;
}
#wrapper #main #section1 .slide-container .slide-view {
  z-index: 1;
  position: relative;
  width: 100%;
}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap {
  width: 100%;
  position: relative;
}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide.slide1 {
  background: url(../img/wedding-img1.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 3;
}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide.slide2 {
  background: url(../img/wedding-img2.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 2;
}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide.slide3 {
  background: url(../img/wedding-img3.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
}
#wrapper #main #section1 .slide-container .box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 307px;
  margin: -146px 0 0 -153.5px;
  text-align: center;
}
#wrapper #main #section1 .slide-container .box img {
  width: 100%;
}
#wrapper #main #section1 .slide-container .box hr {
  margin: 40px 0;
  width: 100%;
  height: 4px;
  border: 0;
  border-top: 1px solid #85d4c0;
  border-bottom: 1px solid #85d4c0;
  opacity: 0.7;
}
#wrapper #main #section1 .slide-container .box h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 0 0 10px 0;
}
#wrapper #main #section1 .slide-container .box h2 {
  font-size: 24px;
  font-weight: 600;
  color: #85d4c0;
}
#wrapper #main #section2 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section2 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section2 .container .gap {
  width: 100%;
}
#wrapper #main #section2 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section2 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section2 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section2 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section2 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section2 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section2 .container .gap .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#wrapper #main #section2 .container .gap .content .left {
  width: 50%;
  display: flex;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .left {
    width: 100%;
    margin: 0 auto;
    flex-flow: row wrap;
  }
}
#wrapper #main #section2 .container .gap .content .left .col1 {
  width: 50%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .left .col1 {
    width: 30%;
  }
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .left .col1 {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .left .col1 {
    width: 100%;
  }
}
#wrapper #main #section2 .container .gap .content .left .col1 .col-gap {
  margin: 0 15px;
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .left .col1 .col-gap {
    margin: 30px 15px;
  }
}
#wrapper #main #section2 .container .gap .content .left .col1 .col-gap .img-box {
  width: 100%;
}
#wrapper #main #section2 .container .gap .content .left .col1 .col-gap .img-box img {
  width: 100%;
  max-width: 270px;
  outline: 4px solid rgba(255, 255, 255, 0.4);
  outline-offset: -16px;
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .left .col1 .col-gap .img-box img {
    max-width: 100%;
  }
}
#wrapper #main #section2 .container .gap .content .left .col1 .col-gap .icon-box {
  width: 100%;
  text-align: center;
  padding: 25px 0 0 0;
}
#wrapper #main #section2 .container .gap .content .left .col1 .col-gap .icon-box a {
  margin: 0 13px 0 13px;
}
#wrapper #main #section2 .container .gap .content .left .col1 .col-gap .icon-box a i {
  color: #444;
  font-size: 16px;
}
#wrapper #main #section2 .container .gap .content .left .col2 {
  width: 50%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .left .col2 {
    width: 70%;
  }
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .left .col2 {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .left .col2 {
    width: 100%;
  }
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap {
  margin: 0 15px;
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .left .col2 .col-gap {
    margin: 30px 15px;
  }
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box {
  width: 88%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box {
    padding: 0 0 0 20px;
  }
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box {
    padding: 0 0 0 20px;
  }
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box strong {
  font-size: 50px;
  color: #85d4c0;
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box strong i {
  transform: translateY(-10px);
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box h3 {
  font-size: 18px;
  color: #85d4c0;
  line-height: 150%;
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box h4 {
  color: #626262;
  font-size: 13px;
  padding: 30px 0 20px 0;
}
#wrapper #main #section2 .container .gap .content .left .col2 .col-gap .text-box p {
  color: #626262;
  font-size: 13px;
  line-height: 150%;
}
#wrapper #main #section2 .container .gap .content .right {
  width: 50%;
  display: flex;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .right {
    width: 100%;
    margin: 0 auto;
    flex-flow: row wrap;
  }
}
#wrapper #main #section2 .container .gap .content .right .col1 {
  width: 50%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .right .col1 {
    width: 30%;
  }
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .right .col1 {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .right .col1 {
    width: 100%;
  }
}
#wrapper #main #section2 .container .gap .content .right .col1 .col-gap {
  margin: 0 15px;
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .right .col1 .col-gap {
    margin: 30px 15px;
  }
}
#wrapper #main #section2 .container .gap .content .right .col1 .col-gap .img-box {
  width: 100%;
}
#wrapper #main #section2 .container .gap .content .right .col1 .col-gap .img-box img {
  width: 100%;
  max-width: 270px;
  outline: 4px solid rgba(255, 255, 255, 0.4);
  outline-offset: -16px;
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .right .col1 .col-gap .img-box img {
    max-width: 100%;
  }
}
#wrapper #main #section2 .container .gap .content .right .col1 .col-gap .icon-box {
  width: 100%;
  text-align: center;
  padding: 25px 0 0 0;
}
#wrapper #main #section2 .container .gap .content .right .col1 .col-gap .icon-box a {
  margin: 0 13px 0 13px;
}
#wrapper #main #section2 .container .gap .content .right .col1 .col-gap .icon-box a i {
  color: #444;
  font-size: 16px;
}
#wrapper #main #section2 .container .gap .content .right .col2 {
  width: 50%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .right .col2 {
    width: 70%;
  }
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .right .col2 {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .right .col2 {
    width: 100%;
  }
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap {
  margin: 0 15px;
}
@media all and (max-width: 600px) {
  #wrapper #main #section2 .container .gap .content .right .col2 .col-gap {
    margin: 30px 15px;
  }
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box {
  width: 88%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box {
    padding: 0 0 0 20px;
  }
}
@media all and (max-width: 760px) {
  #wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box {
    padding: 0 0 0 20px;
  }
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box strong {
  font-size: 50px;
  color: #85d4c0;
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box strong i {
  transform: translateY(-10px);
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box h3 {
  font-size: 18px;
  color: #85d4c0;
  line-height: 150%;
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box h4 {
  color: #626262;
  font-size: 13px;
  padding: 30px 0 20px 0;
}
#wrapper #main #section2 .container .gap .content .right .col2 .col-gap .text-box p {
  color: #626262;
  font-size: 13px;
  line-height: 150%;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section2 .container .gap .content .right {
    padding: 70px 0 0 0;
  }
}
#wrapper #main #section3 {
  width: 100%;
  padding: 130px 0;
  height: 346px;
  background: url(../img/wedding-img2.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section3 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section3::before {
  content: "가상요소 &::before";
  display: block;
  width: 100%;
  height: 100%;
  background: #252525;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0.7;
}
#wrapper #main #section3 .container {
  z-index: 2;
  position: relative;
  height: 100%;
}
#wrapper #main #section3 .container .gap {
  height: 100%;
}
#wrapper #main #section3 .container .gap .title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper #main #section3 .container .gap .title h2 {
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #85d4c0;
}
#wrapper #main #section4 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section4 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section4 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section4 .container .gap {
  width: 100%;
}
#wrapper #main #section4 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section4 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section4 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section4 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section4 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section4 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section4 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section4 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section4 .container .gap .content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#wrapper #main #section4 .container .gap .content > div {
  width: 33.333%;
  height: 318.625px;
  display: flex;
}
@media all and (max-width: 1024px) {
  #wrapper #main #section4 .container .gap .content > div {
    width: 50%;
    margin: 15px 0;
  }
}
@media all and (max-width: 600px) {
  #wrapper #main #section4 .container .gap .content > div {
    width: 100%;
  }
}
#wrapper #main #section4 .container .gap .content > div .gap {
  height: 100%;
  border: 5px solid #e4e4e4;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  #wrapper #main #section4 .container .gap .content > div .gap {
    margin: 0 15px;
  }
}
#wrapper #main #section4 .container .gap .content > div .gap ul {
  width: 68.571%;
}
#wrapper #main #section4 .container .gap .content > div .gap ul li {
  text-align: center;
}
#wrapper #main #section4 .container .gap .content > div .gap ul li i {
  font-size: 60px;
  color: #85d4c0;
}
#wrapper #main #section4 .container .gap .content > div .gap ul li h4 {
  padding: 20px 0 0 0;
  font-size: 16px;
  color: #626262;
  font-weight: 600;
}
#wrapper #main #section4 .container .gap .content > div .gap ul li hr {
  border: 0;
  background: #ddd;
  width: 100%;
  height: 1px;
  margin: 25px 0;
}
#wrapper #main #section4 .container .gap .content > div .gap ul li h5, #wrapper #main #section4 .container .gap .content > div .gap ul li h6 {
  font-size: 13px;
  color: #929292;
  line-height: 160%;
}
#wrapper #main #section5 {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 130px 0;
  background: #fff;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section5 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section5 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section5 .container .gap {
  width: 100%;
  overflow: hidden;
}
#wrapper #main #section5 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section5 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section5 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section5 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section5 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section5 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section5 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section5 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section5 .container .gap .content {
  width: 100%;
  overflow: hidden;
}
#wrapper #main #section5 .container .gap .content ul {
  transform: translateX(-11px);
  width: 1181px;
  display: flex;
  flex-flow: row wrap;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section5 .container .gap .content ul {
    width: 100%;
    transform: translateX(-5.5px);
  }
}
#wrapper #main #section5 .container .gap .content ul li {
  width: 25%;
  padding: 0 0 11px 11px;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section5 .container .gap .content ul li {
    width: 33.33333%;
  }
}
@media all and (max-width: 860px) {
  #wrapper #main #section5 .container .gap .content ul li {
    width: 50%;
  }
}
@media all and (max-width: 660px) {
  #wrapper #main #section5 .container .gap .content ul li {
    width: 100%;
  }
}
#wrapper #main #section5 .container .gap .content ul li div {
  width: 100%;
  overflow: hidden;
}
#wrapper #main #section5 .container .gap .content ul li div img {
  width: 100%;
  transition: all 0.3s;
}
#wrapper #main #section5 .container .gap .content ul li div img:hover {
  transform: scale(1.2);
  opacity: 0.3;
  cursor: url(../img/icon-zoom.png), auto;
}
#wrapper #main #section6 {
  width: 100%;
  padding: 130px 0;
  background: url(../img/wedding-img16.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section6 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section6::before {
  content: "가상요소 &::before";
  display: block;
  width: 100%;
  height: 100%;
  background: #252525;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0.7;
}
#wrapper #main #section6 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section6 .container .gap {
  width: 100%;
}
#wrapper #main #section6 .container .gap .content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#wrapper #main #section6 .container .gap .content .left {
  width: 50%;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}
@media all and (max-width: 900px) {
  #wrapper #main #section6 .container .gap .content .left {
    width: 100%;
    margin: 15px 0;
  }
}
#wrapper #main #section6 .container .gap .content .left .col-gap {
  width: 100%;
  height: 500px;
  background: url(../img/wedding-img17.jpg) no-repeat 50% 50%;
  background-size: cover;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  outline-offset: -20px;
  display: flex;
}
#wrapper #main #section6 .container .gap .content .left .col-gap p {
  margin: auto;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  line-height: 120%;
}
@media all and (max-width: 500px) {
  #wrapper #main #section6 .container .gap .content .left .col-gap p {
    font-size: 20px;
  }
}
#wrapper #main #section6 .container .gap .content .right {
  width: 50%;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}
@media all and (max-width: 900px) {
  #wrapper #main #section6 .container .gap .content .right {
    width: 100%;
    margin: 15px 0;
  }
}
#wrapper #main #section6 .container .gap .content .right .col-gap {
  width: 100%;
  height: 500px;
  background: #93e4cf;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  outline-offset: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form {
  width: 100%;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul {
  width: 100%;
  padding: 0 12.613%;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li h2 {
  padding: 0 0 40px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
@media all and (max-width: 500px) {
  #wrapper #main #section6 .container .gap .content .right .col-gap form ul li h2 {
    font-size: 20px;
  }
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li input {
  width: 100%;
  height: 47px;
  border: 0;
  background: #fff;
  padding: 0 15px;
  transition: all 0.3s;
  outline-offset: -1px;
  border-radius: 3px;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li input:focus {
  outline: 1px solid #777;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li input::-moz-placeholder {
  color: #bbb;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li input::placeholder {
  color: #bbb;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li select {
  border-radius: 3px;
  color: #999;
  width: 50%;
  height: 47px;
  padding: 0 15px;
  transition: all 0.3s;
  outline-offset: -1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url(../img/select-arrow.png) no-repeat calc(100% - 10px) 50%;
  background-size: 13px;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li select:focus {
  outline: 1px solid #777;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li:nth-child(4) {
  display: flex;
  justify-content: space-between;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li:nth-child(4) select {
  border: 0;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li button {
  height: 52px;
  background: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 20px;
  border-radius: 3px;
  border: 3px solid #000;
  transition: all 0.3s;
}
#wrapper #main #section6 .container .gap .content .right .col-gap form ul li button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
#wrapper #main #section7 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
  border-top: 1px solid #ddd;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section7 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section7 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section7 .container .gap {
  width: 100%;
}
#wrapper #main #section7 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section7 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section7 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section7 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section7 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section7 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section7 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section7 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section7 .container .gap .content {
  width: 100%;
  padding: 0 15px;
}
#wrapper #main #section7 .container .gap .content .row1 {
  padding: 0 0 80px 0;
  width: 100%;
  max-width: 456px;
  margin: 0 auto;
  font-size: 13px;
  color: #626262;
  text-align: center;
  line-height: 200%;
  letter-spacing: -0.7px;
}
#wrapper #main #section7 .container .gap .content .row2 {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#wrapper #main #section7 .container .gap .content .row2 a img {
  width: auto;
}
@media all and (max-width: 760px) {
  #wrapper #main #section7 .container .gap .content .row2 a {
    width: 100%;
    display: block;
    margin: 20px 0;
    text-align: center;
  }
}
#wrapper #main #section8 {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 130px 0;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section8 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section8 .container {
  width: 100%;
}
#wrapper #main #section8 .container .gap {
  width: 100%;
}
#wrapper #main #section8 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section8 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section8 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section8 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section8 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section8 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section8 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section8 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section8 .container .gap .content {
  width: 100%;
}
#wrapper #main #section8 .container .gap .content .slide-container {
  width: 100%;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 15px;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
  position: relative;
  width: 125%;
  left: 0;
  display: flex;
}
@media all and (max-width: 1200px) {
  #wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    width: 166.665%;
  }
}
@media all and (max-width: 800px) {
  #wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    width: 250%;
  }
}
@media all and (max-width: 700px) {
  #wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    width: 500%;
  }
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 25%;
}
@media all and (max-width: 1200px) {
  #wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
    width: 33.333%;
  }
}
@media all and (max-width: 800px) {
  #wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
    width: 50%;
  }
}
@media all and (max-width: 700px) {
  #wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
    width: 100%;
  }
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap {
  margin: 0 15px 0 0;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .img-box {
  overflow: hidden;
  width: 100%;
  position: relative;
  cursor: url(../img/icon-move.png), auto;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .img-box::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  background: rgba(30, 30, 30, 0);
  transition: all 0.3s;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .img-box img {
  position: relative;
  width: 100%;
  z-index: 1;
  transition: all 0.3s;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .img-box span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 14px 26px;
  color: #626262;
  font-size: 13px;
  z-index: 3;
  background: #fff;
  font-weight: 600;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box {
  width: 100%;
  padding: 20px;
  display: flex;
  cursor: url(../img/icon-move.png), auto;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box .left {
  width: 70px;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box .left h3 {
  font-size: 35px;
  font-weight: 700;
  color: #e15276;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box .right {
  color: #626262;
  padding: 3px 0 0 15px;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box .right h4 {
  font-size: 15px;
  font-weight: 700;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box .right p {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0 25px 0;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box .right i {
  display: block;
  width: 30px;
  height: 4px;
  background: #85d4c0;
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap:hover .img-box::before {
  background: rgba(30, 30, 30, 0.5);
}
#wrapper #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide .col-gap:hover .img-box img {
  transform: scale(1.15);
  cursor: default;
}
#wrapper #main #section9 {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 130px 0;
  background: #fff;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section9 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section9 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section9 .container .gap {
  width: 100%;
}
#wrapper #main #section9 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section9 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section9 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section9 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section9 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section9 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section9 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section9 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section9 .container .gap .content {
  width: 100%;
}
#wrapper #main #section9 .container .gap .content > ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#wrapper #main #section9 .container .gap .content > ul > li {
  width: 33.333%;
}
@media all and (max-width: 1024px) {
  #wrapper #main #section9 .container .gap .content > ul > li {
    width: 50%;
  }
}
@media all and (max-width: 780px) {
  #wrapper #main #section9 .container .gap .content > ul > li {
    width: 100%;
  }
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap {
  margin: 0 15px;
}
@media all and (max-width: 1024px) {
  #wrapper #main #section9 .container .gap .content > ul > li .col-gap {
    margin: 15px;
  }
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .img-box {
  width: 100%;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .img-box img {
  width: 100%;
  transition: all 1s;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .img-box img:hover {
  filter: grayscale(1);
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box {
  padding: 30px 0 0 0;
  width: 100%;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul {
  width: 100%;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li {
  width: 100%;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(1) a {
  display: inline-flex;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10px;
  transition: all 0.6s;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(1) a:hover {
  opacity: 0.3;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(2) {
  padding: 10px 0 0 0;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(2) h3 a {
  font-weight: 600;
  font-size: 15px;
  color: #333;
  font-family: "Montserrat";
  line-height: 140%;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(3) {
  padding: 20px 0 0 0;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(3) p {
  font-weight: 400;
  font-size: 13px;
  color: #666;
  font-family: "Roboto";
  line-height: 180%;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(4) {
  padding: 30px 0;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(4) hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(5) {
  font-size: 12px;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(5) a {
  color: #999;
}
#wrapper #main #section9 .container .gap .content > ul > li .col-gap .txt-box ul li:nth-child(5) span {
  color: #999;
}
#wrapper #main #section10 {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 130px 0;
  background: #fff;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section10 {
    padding: 11.11111vw 0;
  }
}
#wrapper #main #section10 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper #main #section10 .container .gap {
  width: 100%;
  margin: 0 15px;
}
#wrapper #main #section10 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
@media all and (max-width: 1170px) {
  #wrapper #main #section10 .container .gap .title {
    padding: 0 0 6.837606838vw 0;
  }
}
#wrapper #main #section10 .container .gap .title h2 {
  font-size: 24px;
  color: #e15276;
  font-weight: 600;
}
#wrapper #main #section10 .container .gap .title h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(-20px, -6.5px);
}
#wrapper #main #section10 .container .gap .title h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #93e4cf;
  transform: translate(20px, -6.5px);
}
@media all and (max-width: 600px) {
  #wrapper #main #section10 .container .gap .title h2 {
    font-size: 20px;
  }
  #wrapper #main #section10 .container .gap .title h2::before {
    width: 30px;
  }
  #wrapper #main #section10 .container .gap .title h2::after {
    width: 30px;
  }
}
#wrapper #main #section10 .container .gap .content {
  width: 100%;
}
#wrapper #main #section10 .container .gap .content p {
  color: #626262;
  font-size: 13px;
  width: 100%;
  max-width: 456px;
  margin: 0 auto;
  line-height: 180%;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.7px;
  padding: 0 15px;
}
#wrapper #main #section11 {
  width: 100%;
  height: 420px;
  background: #fff;
}
#wrapper #main #section11 iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#wrapper #footer {
  border-top: 1px solid #ccc;
  padding: 60px 0 30px 0;
  position: relative;
  z-index: 2;
  width: 100%;
  background: #fff;
}
#wrapper #footer .container {
  text-align: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
#wrapper #footer .container .row1 {
  padding: 0 0 60px 0;
}
#wrapper #footer .container .row1 a {
  margin: 0 25px;
  font-size: 22px;
  color: #333;
}
@media all and (max-width: 500px) {
  #wrapper #footer .container .row1 a {
    margin: 0 15px;
    font-size: 20px;
  }
}
#wrapper #footer .container .row2 {
  border-top: 1px solid #ddd;
  padding: 30px 0 0 0;
}
#wrapper #footer .container .row2 p {
  font-size: 13px;
  color: #666;
}
#wrapper .modal {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  cursor: url(../img/icon-zoom-out.png), auto;
  display: none;
  align-items: center;
  justify-content: center;
}
#wrapper .modal .container {
  width: 100%;
  height: 100%;
  display: flex;
}
#wrapper .modal .container .content {
  width: 800px;
  margin: auto;
}
#wrapper .modal .container .content .img-box {
  width: 100%;
  cursor: pointer;
}
#wrapper .modal .container .content .img-box img {
  width: 100%;
}
#wrapper .modal .container .content .modal-prev-btn {
  font-size: 60px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  font-weight: 600;
  margin-top: -30px;
}
#wrapper .modal .container .content .modal-next-btn {
  font-size: 60px;
  font-weight: 600;
  color: #000;
  position: absolute;
  top: 50%;
  right: 0;
  font-weight: 600;
  margin-top: -30px;
}
#wrapper .modal .container .content .modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
#wrapper .go-top {
  z-index: 3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 20px;
  height: 20px;
  background: #000;
}
#wrapper .go-top a {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px;
}
#wrapper .go-top a i {
  font-size: 14px;
  color: #fff;
}